.videoRow{
    display:flex;
    margin-bottom: 30px;
    max-width: 1000px;
}

.videoRow > img{
    object-fit: contain;
    width:320px;
    height: 160px;
}

.videoRow__text > img{
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.videoRow__text{
    margin-left: 14px;
    margin-bottom: 10px;
}

.videoRow__description{
    margin-top: 20px;
    font-size: 12px;
    color:#606060;
    width:600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em;
}

.videoRow__headline{
    font-size: 12px;
    color: #606060;
    margin-bottom: 5px;
}

.videoRow__thumbnail{
    width:360px;

}

.videoRow__img{
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
