.recommendedVideo{
    flex:0.8;
    border:1px solid lightgray;
    background-color: #f9f9f9;
    padding: 20px;
    padding-bottom: 0;
}

.recommendedVideo > h2{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.recommendedVideo__videos{
    display:flex;
    flex-wrap: wrap;
}